.ebcdic-table table {
    text-align: center;
    font-size: large;
    border-collapse: collapse;
    color: black;
    border: 1px solid black;
    box-sizing: revert;
}

.ebcdic-table td {
    border: 1px solid black;
}

.ebcdic-table th, .ebcdic-table .ebcdic-th {
    font-weight: 700;
    width: 3em;
    background-color: #EEEEEE;
    border: 1px solid black;
    color: black;
}

.ebcdic-table .ebcdic-th {
    width: 1.6em;
}

.ebcdic-table .ebcdic-row {
    height: 4em;
}
.ebcdic-table .ebcdic-glyph {
    line-height: 1.6;
}

.ebcdic-table-legend {
    text-align: center;
    align-content: center;
    font-size: large;
    color: black;
    border: 1px solid black;
    box-sizing: revert;
    display: inline-block;
    width: 36px;
    height: 30px;
}

.ebcdic-control-code {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}

.ebcdic-space-separator {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}

.ebcdic-symbol {
    background-color: #FFFFD7;
}

.ebcdic-punctuation {
    background-color: #F4F4FF;
}

.ebcdic-number {
    background-color: #FFF4F4;
}

.ebcdic-normal {
    background-color: #FFFFFF;
}

.ebcdic-table .ebcdic-invariant, .ebcdic-invariant {
    border: 2px solid black;
}

#ebcdic-legend {
  column-count: 2;
}

#ebcdic-legend li::before {
  content: "";
}

#ebcdic-legend .ebcdic-padding-1 {
    background-color: #EEEEEE;
    padding: 4px;
    display: inline-block;
}

#ebcdic-legend .ebcdic-padding-2 {
    background-color: #EEEEEE;
    padding: 3px;
    display: inline-block;
}
