# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Kevin's Ramblings
description: > # this means to ignore newlines until "baseurl:"
  Ramblings of an Open Source dude working on IBM i.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://kadler.github.io" # the base hostname & protocol for your site, e.g. http://example.com

github_source: kadler.github.io

# Site Author
author:
  name             : "Kevin Adler"
  avatar           : # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : "Open Source Dude"
  location         : "Rochester, MN"
  email            :
  uri              :
  home             : # null (default), "absolute or relative url to link to author home"
  bitbucket        : "kadler"
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "kadler"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         : "kevin-adler-19038a15" # "john-doe-12345678" (the last part of your profile url, e.g. https://www.linkedin.com/in/john-doe-12345678)
  pinterest        :
  soundcloud       :
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. https://stackoverflow.com/users/123456/username)
  steam            : # "steamId" (the last part of your profile url, e.g. https://steamcommunity.com/id/steamId/)
  tumblr           :
  twitter          : "kadler_ibm"
  vine             :
  weibo            :
  xing             :
  youtube          : # "https://youtube.com/c/MichaelRoseDesign"


# permalink: /:categories/:title/
permalink: /:year/:month/:day/:title.html

# Pagination settings
paginate: 5                           # number of posts to show per page
# paginate_path: "/page:num/"  # link scheme for articles, should be letf as is

category_archive:
  type: liquid
  path: /categories/

# Used by Jekyll to recognize what is a post and what is a page
defaults:
  -
    scope:
      path: ''
      type: pages
    values:
      layout: single
      author_profile: true 
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      related: true

# Markdown parser settings
markdown: kramdown
highlighter: rouge

timezone: America/Chicago

# Build settings
include:
  - _pages                  # all your pages can be put inside pages (except articles)
exclude:
  - _drafts
  - README.md
  - vendor
  - Gemfile
  - Gemfile.lock

github: [metadata]
remote_theme: mmistakes/minimal-mistakes

minimal_mistakes_skin: "dark"

plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-redirect-from
