
<style>
#ebcdic-table {
    text-align: center;
    font-size: large;
    border-collapse: collapse;
    color: black;
}
th {
    font-weight: 700;
    width: 3em;
    background-color: #EEEEEE;
}
.th {
    font-weight: 700;
    width: 1.6em;
    background-color: #EEEEEE;
}
.row {
    height: 4em;
}
.glyph {
    line-height: 1.6;
}
.control-code {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}
.space-separator {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}
.symbol {
    background-color: #FFFFD7;
}
.punctuation {
    background-color: #F4F4FF;
}
.number {
    background-color: #FFF4F4;
}
.normal {
    background-color: #FFFFFF;
}
.invariant {
    border: 2px solid;
}
</style>
<table id="ebcdic-table" border="1" frame="box">


<tr>
    <th class='th'></th>
    <th>_0</th><th>_1</th><th>_2</th><th>_3</th>
    <th>_4</th><th>_5</th><th>_6</th><th>_7</th>
    <th>_8</th><th>_9</th><th>_A</th><th>_B</th>
    <th>_C</th><th>_D</th><th>_E</th><th>_F</th>
</tr>

<tr class='row'>
<td class='th'>_0</td>
<td class="control-code"><span class='glyph'>NUL</span><br><small>0000</small></td>
<td class="control-code"><span class='glyph'>SOH</span><br><small>0001</small></td>
<td class="control-code"><span class='glyph'>STX</span><br><small>0002</small></td>
<td class="control-code"><span class='glyph'>ETX</span><br><small>0003</small></td>
<td class="control-code"><span class='glyph'>ST</span><br><small>009C</small></td>
<td class="control-code"><span class='glyph'>HT</span><br><small>0009</small></td>
<td class="control-code"><span class='glyph'>SSA</span><br><small>0086</small></td>
<td class="control-code"><span class='glyph'>DEL</span><br><small>007F</small></td>
<td class="control-code"><span class='glyph'>EPA</span><br><small>0097</small></td>
<td class="control-code"><span class='glyph'>RI</span><br><small>008D</small></td>
<td class="control-code"><span class='glyph'>SS2</span><br><small>008E</small></td>
<td class="control-code"><span class='glyph'>VT</span><br><small>000B</small></td>
<td class="control-code"><span class='glyph'>FF</span><br><small>000C</small></td>
<td class="control-code"><span class='glyph'>CR</span><br><small>000D</small></td>
<td class="control-code"><span class='glyph'>SO</span><br><small>000E</small></td>
<td class="control-code"><span class='glyph'>SI</span><br><small>000F</small></td>

</tr>
<tr class='row'>
<td class='th'>_1</td>
<td class="control-code"><span class='glyph'>DLE</span><br><small>0010</small></td>
<td class="control-code"><span class='glyph'>DC1</span><br><small>0011</small></td>
<td class="control-code"><span class='glyph'>DC2</span><br><small>0012</small></td>
<td class="control-code"><span class='glyph'>DC3</span><br><small>0013</small></td>
<td class="control-code"><span class='glyph'>OSC</span><br><small>009D</small></td>
<td class="control-code"><span class='glyph'>NEL</span><br><small>0085</small></td>
<td class="control-code"><span class='glyph'>BS</span><br><small>0008</small></td>
<td class="control-code"><span class='glyph'>ESA</span><br><small>0087</small></td>
<td class="control-code"><span class='glyph'>CAN</span><br><small>0018</small></td>
<td class="control-code"><span class='glyph'>EM</span><br><small>0019</small></td>
<td class="control-code"><span class='glyph'>PU2</span><br><small>0092</small></td>
<td class="control-code"><span class='glyph'>SS3</span><br><small>008F</small></td>
<td class="control-code"><span class='glyph'>FS</span><br><small>001C</small></td>
<td class="control-code"><span class='glyph'>GS</span><br><small>001D</small></td>
<td class="control-code"><span class='glyph'>RS</span><br><small>001E</small></td>
<td class="control-code"><span class='glyph'>US</span><br><small>001F</small></td>

</tr>
<tr class='row'>
<td class='th'>_2</td>
<td class="control-code"><span class='glyph'>PAD</span><br><small>0080</small></td>
<td class="control-code"><span class='glyph'>HOP</span><br><small>0081</small></td>
<td class="control-code"><span class='glyph'>BPH</span><br><small>0082</small></td>
<td class="control-code"><span class='glyph'>NBH</span><br><small>0083</small></td>
<td class="control-code"><span class='glyph'>IND</span><br><small>0084</small></td>
<td class="control-code"><span class='glyph'>LF</span><br><small>000A</small></td>
<td class="control-code"><span class='glyph'>ETB</span><br><small>0017</small></td>
<td class="control-code"><span class='glyph'>ESC</span><br><small>001B</small></td>
<td class="control-code"><span class='glyph'>HTS</span><br><small>0088</small></td>
<td class="control-code"><span class='glyph'>HTJ</span><br><small>0089</small></td>
<td class="control-code"><span class='glyph'>VTS</span><br><small>008A</small></td>
<td class="control-code"><span class='glyph'>PLD</span><br><small>008B</small></td>
<td class="control-code"><span class='glyph'>PLU</span><br><small>008C</small></td>
<td class="control-code"><span class='glyph'>ENQ</span><br><small>0005</small></td>
<td class="control-code"><span class='glyph'>ACK</span><br><small>0006</small></td>
<td class="control-code"><span class='glyph'>BEL</span><br><small>0007</small></td>

</tr>
<tr class='row'>
<td class='th'>_3</td>
<td class="control-code"><span class='glyph'>DCS</span><br><small>0090</small></td>
<td class="control-code"><span class='glyph'>PU1</span><br><small>0091</small></td>
<td class="control-code"><span class='glyph'>SYN</span><br><small>0016</small></td>
<td class="control-code"><span class='glyph'>STS</span><br><small>0093</small></td>
<td class="control-code"><span class='glyph'>CCH</span><br><small>0094</small></td>
<td class="control-code"><span class='glyph'>MW</span><br><small>0095</small></td>
<td class="control-code"><span class='glyph'>SPA</span><br><small>0096</small></td>
<td class="control-code"><span class='glyph'>EOT</span><br><small>0004</small></td>
<td class="control-code"><span class='glyph'>SOS</span><br><small>0098</small></td>
<td class="control-code"><span class='glyph'>SGCI</span><br><small>0099</small></td>
<td class="control-code"><span class='glyph'>SCI</span><br><small>009A</small></td>
<td class="control-code"><span class='glyph'>CSI</span><br><small>009B</small></td>
<td class="control-code"><span class='glyph'>DC4</span><br><small>0014</small></td>
<td class="control-code"><span class='glyph'>NAK</span><br><small>0015</small></td>
<td class="control-code"><span class='glyph'>PM</span><br><small>009E</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>

</tr>
<tr class='row'>
<td class='th'>_4</td>
<td class="space-separator"><span class='glyph'>SP</span><br><small>0020</small></td>
<td class="space-separator"><span class='glyph'>NBSP</span><br><small>00A0</small></td>
<td class="normal"><span class='glyph'>ّ</span><br><small>0651</small></td>
<td class="normal"><span class='glyph'>ّ</span><br><small>0651</small></td>
<td class="normal"><span class='glyph'>ـ</span><br><small>0640</small></td>
<td class="normal"><span class='glyph'>​</span><br><small>200B</small></td>
<td class="normal"><span class='glyph'>ء</span><br><small>0621</small></td>
<td class="normal"><span class='glyph'>آ</span><br><small>0622</small></td>
<td class="normal"><span class='glyph'>آ</span><br><small>0622</small></td>
<td class="normal"><span class='glyph'>أ</span><br><small>0623</small></td>
<td class="symbol"><span class='glyph'>¢</span><br><small>00A2</small></td>
<td class="punctuation invariant"><span class='glyph'>.</span><br><small>002E</small></td>
<td class="symbol invariant"><span class='glyph'><</span><br><small>003C</small></td>
<td class="punctuation invariant"><span class='glyph'>(</span><br><small>0028</small></td>
<td class="symbol invariant"><span class='glyph'>+</span><br><small>002B</small></td>
<td class="symbol"><span class='glyph'>|</span><br><small>007C</small></td>

</tr>
<tr class='row'>
<td class='th'>_5</td>
<td class="punctuation invariant"><span class='glyph'>&</span><br><small>0026</small></td>
<td class="normal"><span class='glyph'>أ</span><br><small>0623</small></td>
<td class="normal"><span class='glyph'>ؤ</span><br><small>0624</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="normal"><span class='glyph'>ئ</span><br><small>0626</small></td>
<td class="normal"><span class='glyph'>ا</span><br><small>0627</small></td>
<td class="normal"><span class='glyph'>ا</span><br><small>0627</small></td>
<td class="normal"><span class='glyph'>ب</span><br><small>0628</small></td>
<td class="normal"><span class='glyph'>ب</span><br><small>0628</small></td>
<td class="punctuation"><span class='glyph'>!</span><br><small>0021</small></td>
<td class="symbol"><span class='glyph'>$</span><br><small>0024</small></td>
<td class="punctuation invariant"><span class='glyph'>*</span><br><small>002A</small></td>
<td class="punctuation invariant"><span class='glyph'>)</span><br><small>0029</small></td>
<td class="punctuation invariant"><span class='glyph'>;</span><br><small>003B</small></td>
<td class="symbol"><span class='glyph'>¬</span><br><small>00AC</small></td>

</tr>
<tr class='row'>
<td class='th'>_6</td>
<td class="punctuation invariant"><span class='glyph'>-</span><br><small>002D</small></td>
<td class="punctuation invariant"><span class='glyph'>/</span><br><small>002F</small></td>
<td class="normal"><span class='glyph'>ة</span><br><small>0629</small></td>
<td class="normal"><span class='glyph'>ت</span><br><small>062A</small></td>
<td class="normal"><span class='glyph'>ت</span><br><small>062A</small></td>
<td class="normal"><span class='glyph'>ث</span><br><small>062B</small></td>
<td class="normal"><span class='glyph'>ث</span><br><small>062B</small></td>
<td class="normal"><span class='glyph'>ج</span><br><small>062C</small></td>
<td class="normal"><span class='glyph'>ج</span><br><small>062C</small></td>
<td class="normal"><span class='glyph'>ح</span><br><small>062D</small></td>
<td class="symbol"><span class='glyph'>¦</span><br><small>00A6</small></td>
<td class="punctuation invariant"><span class='glyph'>,</span><br><small>002C</small></td>
<td class="punctuation invariant"><span class='glyph'>%</span><br><small>0025</small></td>
<td class="punctuation invariant"><span class='glyph'>_</span><br><small>005F</small></td>
<td class="symbol invariant"><span class='glyph'>></span><br><small>003E</small></td>
<td class="punctuation invariant"><span class='glyph'>?</span><br><small>003F</small></td>

</tr>
<tr class='row'>
<td class='th'>_7</td>
<td class="normal"><span class='glyph'>ح</span><br><small>062D</small></td>
<td class="normal"><span class='glyph'>خ</span><br><small>062E</small></td>
<td class="normal"><span class='glyph'>خ</span><br><small>062E</small></td>
<td class="normal"><span class='glyph'>د</span><br><small>062F</small></td>
<td class="normal"><span class='glyph'>ذ</span><br><small>0630</small></td>
<td class="normal"><span class='glyph'>ر</span><br><small>0631</small></td>
<td class="normal"><span class='glyph'>ز</span><br><small>0632</small></td>
<td class="normal"><span class='glyph'>س</span><br><small>0633</small></td>
<td class="normal"><span class='glyph'>س</span><br><small>0633</small></td>
<td class="punctuation"><span class='glyph'>،</span><br><small>060C</small></td>
<td class="punctuation invariant"><span class='glyph'>:</span><br><small>003A</small></td>
<td class="punctuation"><span class='glyph'>#</span><br><small>0023</small></td>
<td class="punctuation"><span class='glyph'>@</span><br><small>0040</small></td>
<td class="punctuation invariant"><span class='glyph'>'</span><br><small>0027</small></td>
<td class="symbol invariant"><span class='glyph'>=</span><br><small>003D</small></td>
<td class="punctuation invariant"><span class='glyph'>"</span><br><small>0022</small></td>

</tr>
<tr class='row'>
<td class='th'>_8</td>
<td class="normal"><span class='glyph'>ش</span><br><small>0634</small></td>
<td class="normal invariant"><span class='glyph'>a</span><br><small>0061</small></td>
<td class="normal invariant"><span class='glyph'>b</span><br><small>0062</small></td>
<td class="normal invariant"><span class='glyph'>c</span><br><small>0063</small></td>
<td class="normal invariant"><span class='glyph'>d</span><br><small>0064</small></td>
<td class="normal invariant"><span class='glyph'>e</span><br><small>0065</small></td>
<td class="normal invariant"><span class='glyph'>f</span><br><small>0066</small></td>
<td class="normal invariant"><span class='glyph'>g</span><br><small>0067</small></td>
<td class="normal invariant"><span class='glyph'>h</span><br><small>0068</small></td>
<td class="normal invariant"><span class='glyph'>i</span><br><small>0069</small></td>
<td class="normal"><span class='glyph'>ش</span><br><small>0634</small></td>
<td class="normal"><span class='glyph'>ص</span><br><small>0635</small></td>
<td class="normal"><span class='glyph'>ص</span><br><small>0635</small></td>
<td class="normal"><span class='glyph'>ض</span><br><small>0636</small></td>
<td class="normal"><span class='glyph'>ض</span><br><small>0636</small></td>
<td class="normal"><span class='glyph'>ط</span><br><small>0637</small></td>

</tr>
<tr class='row'>
<td class='th'>_9</td>
<td class="normal"><span class='glyph'>ظ</span><br><small>0638</small></td>
<td class="normal invariant"><span class='glyph'>j</span><br><small>006A</small></td>
<td class="normal invariant"><span class='glyph'>k</span><br><small>006B</small></td>
<td class="normal invariant"><span class='glyph'>l</span><br><small>006C</small></td>
<td class="normal invariant"><span class='glyph'>m</span><br><small>006D</small></td>
<td class="normal invariant"><span class='glyph'>n</span><br><small>006E</small></td>
<td class="normal invariant"><span class='glyph'>o</span><br><small>006F</small></td>
<td class="normal invariant"><span class='glyph'>p</span><br><small>0070</small></td>
<td class="normal invariant"><span class='glyph'>q</span><br><small>0071</small></td>
<td class="normal invariant"><span class='glyph'>r</span><br><small>0072</small></td>
<td class="normal"><span class='glyph'>ع</span><br><small>0639</small></td>
<td class="normal"><span class='glyph'>ع</span><br><small>0639</small></td>
<td class="normal"><span class='glyph'>ع</span><br><small>0639</small></td>
<td class="normal"><span class='glyph'>ع</span><br><small>0639</small></td>
<td class="normal"><span class='glyph'>غ</span><br><small>063A</small></td>
<td class="normal"><span class='glyph'>غ</span><br><small>063A</small></td>

</tr>
<tr class='row'>
<td class='th'>_A</td>
<td class="normal"><span class='glyph'>غ</span><br><small>063A</small></td>
<td class="symbol"><span class='glyph'>÷</span><br><small>00F7</small></td>
<td class="normal invariant"><span class='glyph'>s</span><br><small>0073</small></td>
<td class="normal invariant"><span class='glyph'>t</span><br><small>0074</small></td>
<td class="normal invariant"><span class='glyph'>u</span><br><small>0075</small></td>
<td class="normal invariant"><span class='glyph'>v</span><br><small>0076</small></td>
<td class="normal invariant"><span class='glyph'>w</span><br><small>0077</small></td>
<td class="normal invariant"><span class='glyph'>x</span><br><small>0078</small></td>
<td class="normal invariant"><span class='glyph'>y</span><br><small>0079</small></td>
<td class="normal invariant"><span class='glyph'>z</span><br><small>007A</small></td>
<td class="normal"><span class='glyph'>غ</span><br><small>063A</small></td>
<td class="normal"><span class='glyph'>ف</span><br><small>0641</small></td>
<td class="normal"><span class='glyph'>ف</span><br><small>0641</small></td>
<td class="normal"><span class='glyph'>ق</span><br><small>0642</small></td>
<td class="normal"><span class='glyph'>ق</span><br><small>0642</small></td>
<td class="normal"><span class='glyph'>ك</span><br><small>0643</small></td>

</tr>
<tr class='row'>
<td class='th'>_B</td>
<td class="normal"><span class='glyph'>ك</span><br><small>0643</small></td>
<td class="normal"><span class='glyph'>ل</span><br><small>0644</small></td>
<td class="normal"><span class='glyph'>ﻵ</span><br><small>FEF5</small></td>
<td class="normal"><span class='glyph'>ﻶ</span><br><small>FEF6</small></td>
<td class="normal"><span class='glyph'>ﻷ</span><br><small>FEF7</small></td>
<td class="normal"><span class='glyph'>ﻸ</span><br><small>FEF8</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="normal"><span class='glyph'>ﻻ</span><br><small>FEFB</small></td>
<td class="normal"><span class='glyph'>ﻼ</span><br><small>FEFC</small></td>
<td class="normal"><span class='glyph'>ل</span><br><small>0644</small></td>
<td class="normal"><span class='glyph'>م</span><br><small>0645</small></td>
<td class="normal"><span class='glyph'>م</span><br><small>0645</small></td>
<td class="normal"><span class='glyph'>ن</span><br><small>0646</small></td>
<td class="normal"><span class='glyph'>ن</span><br><small>0646</small></td>
<td class="normal"><span class='glyph'>ه</span><br><small>0647</small></td>

</tr>
<tr class='row'>
<td class='th'>_C</td>
<td class="punctuation"><span class='glyph'>؛</span><br><small>061B</small></td>
<td class="normal invariant"><span class='glyph'>A</span><br><small>0041</small></td>
<td class="normal invariant"><span class='glyph'>B</span><br><small>0042</small></td>
<td class="normal invariant"><span class='glyph'>C</span><br><small>0043</small></td>
<td class="normal invariant"><span class='glyph'>D</span><br><small>0044</small></td>
<td class="normal invariant"><span class='glyph'>E</span><br><small>0045</small></td>
<td class="normal invariant"><span class='glyph'>F</span><br><small>0046</small></td>
<td class="normal invariant"><span class='glyph'>G</span><br><small>0047</small></td>
<td class="normal invariant"><span class='glyph'>H</span><br><small>0048</small></td>
<td class="normal invariant"><span class='glyph'>I</span><br><small>0049</small></td>
<td class="normal"><span class='glyph'>­</span><br><small>00AD</small></td>
<td class="normal"><span class='glyph'>ه</span><br><small>0647</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="normal"><span class='glyph'>ه</span><br><small>0647</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="normal"><span class='glyph'>و</span><br><small>0648</small></td>

</tr>
<tr class='row'>
<td class='th'>_D</td>
<td class="punctuation"><span class='glyph'>؟</span><br><small>061F</small></td>
<td class="normal invariant"><span class='glyph'>J</span><br><small>004A</small></td>
<td class="normal invariant"><span class='glyph'>K</span><br><small>004B</small></td>
<td class="normal invariant"><span class='glyph'>L</span><br><small>004C</small></td>
<td class="normal invariant"><span class='glyph'>M</span><br><small>004D</small></td>
<td class="normal invariant"><span class='glyph'>N</span><br><small>004E</small></td>
<td class="normal invariant"><span class='glyph'>O</span><br><small>004F</small></td>
<td class="normal invariant"><span class='glyph'>P</span><br><small>0050</small></td>
<td class="normal invariant"><span class='glyph'>Q</span><br><small>0051</small></td>
<td class="normal invariant"><span class='glyph'>R</span><br><small>0052</small></td>
<td class="normal"><span class='glyph'>ى</span><br><small>0649</small></td>
<td class="normal"><span class='glyph'>ى</span><br><small>0649</small></td>
<td class="normal"><span class='glyph'>ي</span><br><small>064A</small></td>
<td class="normal"><span class='glyph'>ي</span><br><small>064A</small></td>
<td class="normal"><span class='glyph'>ي</span><br><small>064A</small></td>
<td class="number"><span class='glyph'>٠</span><br><small>0660</small></td>

</tr>
<tr class='row'>
<td class='th'>_E</td>
<td class="symbol"><span class='glyph'>×</span><br><small>00D7</small></td>
<td class="space-separator"><span class='glyph'></span><br><small>2007</small></td>
<td class="normal invariant"><span class='glyph'>S</span><br><small>0053</small></td>
<td class="normal invariant"><span class='glyph'>T</span><br><small>0054</small></td>
<td class="normal invariant"><span class='glyph'>U</span><br><small>0055</small></td>
<td class="normal invariant"><span class='glyph'>V</span><br><small>0056</small></td>
<td class="normal invariant"><span class='glyph'>W</span><br><small>0057</small></td>
<td class="normal invariant"><span class='glyph'>X</span><br><small>0058</small></td>
<td class="normal invariant"><span class='glyph'>Y</span><br><small>0059</small></td>
<td class="normal invariant"><span class='glyph'>Z</span><br><small>005A</small></td>
<td class="number"><span class='glyph'>١</span><br><small>0661</small></td>
<td class="number"><span class='glyph'>٢</span><br><small>0662</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>
<td class="number"><span class='glyph'>٣</span><br><small>0663</small></td>
<td class="number"><span class='glyph'>٤</span><br><small>0664</small></td>
<td class="number"><span class='glyph'>٥</span><br><small>0665</small></td>

</tr>
<tr class='row'>
<td class='th'>_F</td>
<td class="number invariant"><span class='glyph'>0</span><br><small>0030</small></td>
<td class="number invariant"><span class='glyph'>1</span><br><small>0031</small></td>
<td class="number invariant"><span class='glyph'>2</span><br><small>0032</small></td>
<td class="number invariant"><span class='glyph'>3</span><br><small>0033</small></td>
<td class="number invariant"><span class='glyph'>4</span><br><small>0034</small></td>
<td class="number invariant"><span class='glyph'>5</span><br><small>0035</small></td>
<td class="number invariant"><span class='glyph'>6</span><br><small>0036</small></td>
<td class="number invariant"><span class='glyph'>7</span><br><small>0037</small></td>
<td class="number invariant"><span class='glyph'>8</span><br><small>0038</small></td>
<td class="number invariant"><span class='glyph'>9</span><br><small>0039</small></td>
<td class="symbol"><span class='glyph'>€</span><br><small>20AC</small></td>
<td class="number"><span class='glyph'>٦</span><br><small>0666</small></td>
<td class="number"><span class='glyph'>٧</span><br><small>0667</small></td>
<td class="number"><span class='glyph'>٨</span><br><small>0668</small></td>
<td class="number"><span class='glyph'>٩</span><br><small>0669</small></td>
<td class="control-code"><span class='glyph'>APC</span><br><small>009F</small></td>

</tr>

<tr>
    <th class='th'></th>
    <th>_0</th><th>_1</th><th>_2</th><th>_3</th>
    <th>_4</th><th>_5</th><th>_6</th><th>_7</th>
    <th>_8</th><th>_9</th><th>_A</th><th>_B</th>
    <th>_C</th><th>_D</th><th>_E</th><th>_F</th>
</tr>


</table>

