
<style>
#ebcdic-table {
    text-align: center;
    font-size: large;
    border-collapse: collapse;
    color: black;
}
th {
    font-weight: 700;
    width: 3em;
    background-color: #EEEEEE;
}
.th {
    font-weight: 700;
    width: 1.6em;
    background-color: #EEEEEE;
}
.row {
    height: 4em;
}
.glyph {
    line-height: 1.6;
}
.control-code {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}
.space-separator {
    font-variant: small-caps;
    font-family: monospace;
    background-color: #F0FFF0;
}
.symbol {
    background-color: #FFFFD7;
}
.punctuation {
    background-color: #F4F4FF;
}
.number {
    background-color: #FFF4F4;
}
.normal {
    background-color: #FFFFFF;
}
.invariant {
    border: 2px solid;
}
</style>
<table id="ebcdic-table" border="1" frame="box">


<tr>
    <th class='th'></th>
    <th>_0</th><th>_1</th><th>_2</th><th>_3</th>
    <th>_4</th><th>_5</th><th>_6</th><th>_7</th>
    <th>_8</th><th>_9</th><th>_A</th><th>_B</th>
    <th>_C</th><th>_D</th><th>_E</th><th>_F</th>
</tr>

<tr class='row'>
<td class='th'>_0</td>
<td class="control-code"><span class='glyph'>NUL</span><br><small>0000</small></td>
<td class="control-code"><span class='glyph'>SOH</span><br><small>0001</small></td>
<td class="control-code"><span class='glyph'>STX</span><br><small>0002</small></td>
<td class="control-code"><span class='glyph'>ETX</span><br><small>0003</small></td>
<td class="control-code"><span class='glyph'>ST</span><br><small>009C</small></td>
<td class="control-code"><span class='glyph'>HT</span><br><small>0009</small></td>
<td class="control-code"><span class='glyph'>SSA</span><br><small>0086</small></td>
<td class="control-code"><span class='glyph'>DEL</span><br><small>007F</small></td>
<td class="control-code"><span class='glyph'>EPA</span><br><small>0097</small></td>
<td class="control-code"><span class='glyph'>RI</span><br><small>008D</small></td>
<td class="control-code"><span class='glyph'>SS2</span><br><small>008E</small></td>
<td class="control-code"><span class='glyph'>VT</span><br><small>000B</small></td>
<td class="control-code"><span class='glyph'>FF</span><br><small>000C</small></td>
<td class="control-code"><span class='glyph'>CR</span><br><small>000D</small></td>
<td class="control-code"><span class='glyph'>SO</span><br><small>000E</small></td>
<td class="control-code"><span class='glyph'>SI</span><br><small>000F</small></td>

</tr>
<tr class='row'>
<td class='th'>_1</td>
<td class="control-code"><span class='glyph'>DLE</span><br><small>0010</small></td>
<td class="control-code"><span class='glyph'>DC1</span><br><small>0011</small></td>
<td class="control-code"><span class='glyph'>DC2</span><br><small>0012</small></td>
<td class="control-code"><span class='glyph'>DC3</span><br><small>0013</small></td>
<td class="control-code"><span class='glyph'>OSC</span><br><small>009D</small></td>
<td class="control-code"><span class='glyph'>NEL</span><br><small>0085</small></td>
<td class="control-code"><span class='glyph'>BS</span><br><small>0008</small></td>
<td class="control-code"><span class='glyph'>ESA</span><br><small>0087</small></td>
<td class="control-code"><span class='glyph'>CAN</span><br><small>0018</small></td>
<td class="control-code"><span class='glyph'>EM</span><br><small>0019</small></td>
<td class="control-code"><span class='glyph'>PU2</span><br><small>0092</small></td>
<td class="control-code"><span class='glyph'>SS3</span><br><small>008F</small></td>
<td class="control-code"><span class='glyph'>FS</span><br><small>001C</small></td>
<td class="control-code"><span class='glyph'>GS</span><br><small>001D</small></td>
<td class="control-code"><span class='glyph'>RS</span><br><small>001E</small></td>
<td class="control-code"><span class='glyph'>US</span><br><small>001F</small></td>

</tr>
<tr class='row'>
<td class='th'>_2</td>
<td class="control-code"><span class='glyph'>PAD</span><br><small>0080</small></td>
<td class="control-code"><span class='glyph'>HOP</span><br><small>0081</small></td>
<td class="control-code"><span class='glyph'>BPH</span><br><small>0082</small></td>
<td class="control-code"><span class='glyph'>NBH</span><br><small>0083</small></td>
<td class="control-code"><span class='glyph'>IND</span><br><small>0084</small></td>
<td class="control-code"><span class='glyph'>LF</span><br><small>000A</small></td>
<td class="control-code"><span class='glyph'>ETB</span><br><small>0017</small></td>
<td class="control-code"><span class='glyph'>ESC</span><br><small>001B</small></td>
<td class="control-code"><span class='glyph'>HTS</span><br><small>0088</small></td>
<td class="control-code"><span class='glyph'>HTJ</span><br><small>0089</small></td>
<td class="control-code"><span class='glyph'>VTS</span><br><small>008A</small></td>
<td class="control-code"><span class='glyph'>PLD</span><br><small>008B</small></td>
<td class="control-code"><span class='glyph'>PLU</span><br><small>008C</small></td>
<td class="control-code"><span class='glyph'>ENQ</span><br><small>0005</small></td>
<td class="control-code"><span class='glyph'>ACK</span><br><small>0006</small></td>
<td class="control-code"><span class='glyph'>BEL</span><br><small>0007</small></td>

</tr>
<tr class='row'>
<td class='th'>_3</td>
<td class="control-code"><span class='glyph'>DCS</span><br><small>0090</small></td>
<td class="control-code"><span class='glyph'>PU1</span><br><small>0091</small></td>
<td class="control-code"><span class='glyph'>SYN</span><br><small>0016</small></td>
<td class="control-code"><span class='glyph'>STS</span><br><small>0093</small></td>
<td class="control-code"><span class='glyph'>CCH</span><br><small>0094</small></td>
<td class="control-code"><span class='glyph'>MW</span><br><small>0095</small></td>
<td class="control-code"><span class='glyph'>SPA</span><br><small>0096</small></td>
<td class="control-code"><span class='glyph'>EOT</span><br><small>0004</small></td>
<td class="control-code"><span class='glyph'>SOS</span><br><small>0098</small></td>
<td class="control-code"><span class='glyph'>SGCI</span><br><small>0099</small></td>
<td class="control-code"><span class='glyph'>SCI</span><br><small>009A</small></td>
<td class="control-code"><span class='glyph'>CSI</span><br><small>009B</small></td>
<td class="control-code"><span class='glyph'>DC4</span><br><small>0014</small></td>
<td class="control-code"><span class='glyph'>NAK</span><br><small>0015</small></td>
<td class="control-code"><span class='glyph'>PM</span><br><small>009E</small></td>
<td class="control-code"><span class='glyph'>SUB</span><br><small>001A</small></td>

</tr>
<tr class='row'>
<td class='th'>_4</td>
<td class="space-separator"><span class='glyph'>SP</span><br><small>0020</small></td>
<td class="space-separator"><span class='glyph'>NBSP</span><br><small>00A0</small></td>
<td class="normal"><span class='glyph'>â</span><br><small>00E2</small></td>
<td class="normal"><span class='glyph'>ä</span><br><small>00E4</small></td>
<td class="normal"><span class='glyph'>à</span><br><small>00E0</small></td>
<td class="normal"><span class='glyph'>á</span><br><small>00E1</small></td>
<td class="normal"><span class='glyph'>ã</span><br><small>00E3</small></td>
<td class="normal"><span class='glyph'>å</span><br><small>00E5</small></td>
<td class="punctuation"><span class='glyph'>{</span><br><small>007B</small></td>
<td class="normal"><span class='glyph'>ñ</span><br><small>00F1</small></td>
<td class="normal"><span class='glyph'>Ç</span><br><small>00C7</small></td>
<td class="punctuation invariant"><span class='glyph'>.</span><br><small>002E</small></td>
<td class="symbol invariant"><span class='glyph'><</span><br><small>003C</small></td>
<td class="punctuation invariant"><span class='glyph'>(</span><br><small>0028</small></td>
<td class="symbol invariant"><span class='glyph'>+</span><br><small>002B</small></td>
<td class="punctuation"><span class='glyph'>!</span><br><small>0021</small></td>

</tr>
<tr class='row'>
<td class='th'>_5</td>
<td class="punctuation invariant"><span class='glyph'>&</span><br><small>0026</small></td>
<td class="normal"><span class='glyph'>é</span><br><small>00E9</small></td>
<td class="normal"><span class='glyph'>ê</span><br><small>00EA</small></td>
<td class="normal"><span class='glyph'>ë</span><br><small>00EB</small></td>
<td class="normal"><span class='glyph'>è</span><br><small>00E8</small></td>
<td class="normal"><span class='glyph'>í</span><br><small>00ED</small></td>
<td class="normal"><span class='glyph'>î</span><br><small>00EE</small></td>
<td class="normal"><span class='glyph'>ï</span><br><small>00EF</small></td>
<td class="normal"><span class='glyph'>ì</span><br><small>00EC</small></td>
<td class="normal"><span class='glyph'>ß</span><br><small>00DF</small></td>
<td class="normal"><span class='glyph'>Ğ</span><br><small>011E</small></td>
<td class="normal"><span class='glyph'>İ</span><br><small>0130</small></td>
<td class="punctuation invariant"><span class='glyph'>*</span><br><small>002A</small></td>
<td class="punctuation invariant"><span class='glyph'>)</span><br><small>0029</small></td>
<td class="punctuation invariant"><span class='glyph'>;</span><br><small>003B</small></td>
<td class="symbol"><span class='glyph'>^</span><br><small>005E</small></td>

</tr>
<tr class='row'>
<td class='th'>_6</td>
<td class="punctuation invariant"><span class='glyph'>-</span><br><small>002D</small></td>
<td class="punctuation invariant"><span class='glyph'>/</span><br><small>002F</small></td>
<td class="normal"><span class='glyph'>Â</span><br><small>00C2</small></td>
<td class="normal"><span class='glyph'>Ä</span><br><small>00C4</small></td>
<td class="normal"><span class='glyph'>À</span><br><small>00C0</small></td>
<td class="normal"><span class='glyph'>Á</span><br><small>00C1</small></td>
<td class="normal"><span class='glyph'>Ã</span><br><small>00C3</small></td>
<td class="normal"><span class='glyph'>Å</span><br><small>00C5</small></td>
<td class="punctuation"><span class='glyph'>[</span><br><small>005B</small></td>
<td class="normal"><span class='glyph'>Ñ</span><br><small>00D1</small></td>
<td class="normal"><span class='glyph'>ş</span><br><small>015F</small></td>
<td class="punctuation invariant"><span class='glyph'>,</span><br><small>002C</small></td>
<td class="punctuation invariant"><span class='glyph'>%</span><br><small>0025</small></td>
<td class="punctuation invariant"><span class='glyph'>_</span><br><small>005F</small></td>
<td class="symbol invariant"><span class='glyph'>></span><br><small>003E</small></td>
<td class="punctuation invariant"><span class='glyph'>?</span><br><small>003F</small></td>

</tr>
<tr class='row'>
<td class='th'>_7</td>
<td class="normal"><span class='glyph'>ø</span><br><small>00F8</small></td>
<td class="normal"><span class='glyph'>É</span><br><small>00C9</small></td>
<td class="normal"><span class='glyph'>Ê</span><br><small>00CA</small></td>
<td class="normal"><span class='glyph'>Ë</span><br><small>00CB</small></td>
<td class="normal"><span class='glyph'>È</span><br><small>00C8</small></td>
<td class="normal"><span class='glyph'>Í</span><br><small>00CD</small></td>
<td class="normal"><span class='glyph'>Î</span><br><small>00CE</small></td>
<td class="normal"><span class='glyph'>Ï</span><br><small>00CF</small></td>
<td class="normal"><span class='glyph'>Ì</span><br><small>00CC</small></td>
<td class="normal"><span class='glyph'>ı</span><br><small>0131</small></td>
<td class="punctuation invariant"><span class='glyph'>:</span><br><small>003A</small></td>
<td class="normal"><span class='glyph'>Ö</span><br><small>00D6</small></td>
<td class="normal"><span class='glyph'>Ş</span><br><small>015E</small></td>
<td class="punctuation invariant"><span class='glyph'>'</span><br><small>0027</small></td>
<td class="symbol invariant"><span class='glyph'>=</span><br><small>003D</small></td>
<td class="normal"><span class='glyph'>Ü</span><br><small>00DC</small></td>

</tr>
<tr class='row'>
<td class='th'>_8</td>
<td class="normal"><span class='glyph'>Ø</span><br><small>00D8</small></td>
<td class="normal invariant"><span class='glyph'>a</span><br><small>0061</small></td>
<td class="normal invariant"><span class='glyph'>b</span><br><small>0062</small></td>
<td class="normal invariant"><span class='glyph'>c</span><br><small>0063</small></td>
<td class="normal invariant"><span class='glyph'>d</span><br><small>0064</small></td>
<td class="normal invariant"><span class='glyph'>e</span><br><small>0065</small></td>
<td class="normal invariant"><span class='glyph'>f</span><br><small>0066</small></td>
<td class="normal invariant"><span class='glyph'>g</span><br><small>0067</small></td>
<td class="normal invariant"><span class='glyph'>h</span><br><small>0068</small></td>
<td class="normal invariant"><span class='glyph'>i</span><br><small>0069</small></td>
<td class="punctuation"><span class='glyph'>«</span><br><small>00AB</small></td>
<td class="punctuation"><span class='glyph'>»</span><br><small>00BB</small></td>
<td class="punctuation"><span class='glyph'>}</span><br><small>007D</small></td>
<td class="symbol"><span class='glyph'>`</span><br><small>0060</small></td>
<td class="symbol"><span class='glyph'>¦</span><br><small>00A6</small></td>
<td class="symbol"><span class='glyph'>±</span><br><small>00B1</small></td>

</tr>
<tr class='row'>
<td class='th'>_9</td>
<td class="symbol"><span class='glyph'>°</span><br><small>00B0</small></td>
<td class="normal invariant"><span class='glyph'>j</span><br><small>006A</small></td>
<td class="normal invariant"><span class='glyph'>k</span><br><small>006B</small></td>
<td class="normal invariant"><span class='glyph'>l</span><br><small>006C</small></td>
<td class="normal invariant"><span class='glyph'>m</span><br><small>006D</small></td>
<td class="normal invariant"><span class='glyph'>n</span><br><small>006E</small></td>
<td class="normal invariant"><span class='glyph'>o</span><br><small>006F</small></td>
<td class="normal invariant"><span class='glyph'>p</span><br><small>0070</small></td>
<td class="normal invariant"><span class='glyph'>q</span><br><small>0071</small></td>
<td class="normal invariant"><span class='glyph'>r</span><br><small>0072</small></td>
<td class="symbol"><span class='glyph'>₺</span><br><small>20BA</small></td>
<td class="normal"><span class='glyph'>º</span><br><small>00BA</small></td>
<td class="normal"><span class='glyph'>æ</span><br><small>00E6</small></td>
<td class="symbol"><span class='glyph'>¸</span><br><small>00B8</small></td>
<td class="normal"><span class='glyph'>Æ</span><br><small>00C6</small></td>
<td class="symbol"><span class='glyph'>€</span><br><small>20AC</small></td>

</tr>
<tr class='row'>
<td class='th'>_A</td>
<td class="normal"><span class='glyph'>µ</span><br><small>00B5</small></td>
<td class="normal"><span class='glyph'>ö</span><br><small>00F6</small></td>
<td class="normal invariant"><span class='glyph'>s</span><br><small>0073</small></td>
<td class="normal invariant"><span class='glyph'>t</span><br><small>0074</small></td>
<td class="normal invariant"><span class='glyph'>u</span><br><small>0075</small></td>
<td class="normal invariant"><span class='glyph'>v</span><br><small>0076</small></td>
<td class="normal invariant"><span class='glyph'>w</span><br><small>0077</small></td>
<td class="normal invariant"><span class='glyph'>x</span><br><small>0078</small></td>
<td class="normal invariant"><span class='glyph'>y</span><br><small>0079</small></td>
<td class="normal invariant"><span class='glyph'>z</span><br><small>007A</small></td>
<td class="punctuation"><span class='glyph'>¡</span><br><small>00A1</small></td>
<td class="punctuation"><span class='glyph'>¿</span><br><small>00BF</small></td>
<td class="punctuation"><span class='glyph'>]</span><br><small>005D</small></td>
<td class="symbol"><span class='glyph'>$</span><br><small>0024</small></td>
<td class="punctuation"><span class='glyph'>@</span><br><small>0040</small></td>
<td class="symbol"><span class='glyph'>®</span><br><small>00AE</small></td>

</tr>
<tr class='row'>
<td class='th'>_B</td>
<td class="symbol"><span class='glyph'>¢</span><br><small>00A2</small></td>
<td class="symbol"><span class='glyph'>£</span><br><small>00A3</small></td>
<td class="symbol"><span class='glyph'>¥</span><br><small>00A5</small></td>
<td class="punctuation"><span class='glyph'>·</span><br><small>00B7</small></td>
<td class="symbol"><span class='glyph'>©</span><br><small>00A9</small></td>
<td class="punctuation"><span class='glyph'>§</span><br><small>00A7</small></td>
<td class="punctuation"><span class='glyph'>¶</span><br><small>00B6</small></td>
<td class="number"><span class='glyph'>¼</span><br><small>00BC</small></td>
<td class="number"><span class='glyph'>½</span><br><small>00BD</small></td>
<td class="number"><span class='glyph'>¾</span><br><small>00BE</small></td>
<td class="symbol"><span class='glyph'>¬</span><br><small>00AC</small></td>
<td class="symbol"><span class='glyph'>|</span><br><small>007C</small></td>
<td class="symbol"><span class='glyph'>¯</span><br><small>00AF</small></td>
<td class="symbol"><span class='glyph'>¨</span><br><small>00A8</small></td>
<td class="symbol"><span class='glyph'>´</span><br><small>00B4</small></td>
<td class="symbol"><span class='glyph'>×</span><br><small>00D7</small></td>

</tr>
<tr class='row'>
<td class='th'>_C</td>
<td class="normal"><span class='glyph'>ç</span><br><small>00E7</small></td>
<td class="normal invariant"><span class='glyph'>A</span><br><small>0041</small></td>
<td class="normal invariant"><span class='glyph'>B</span><br><small>0042</small></td>
<td class="normal invariant"><span class='glyph'>C</span><br><small>0043</small></td>
<td class="normal invariant"><span class='glyph'>D</span><br><small>0044</small></td>
<td class="normal invariant"><span class='glyph'>E</span><br><small>0045</small></td>
<td class="normal invariant"><span class='glyph'>F</span><br><small>0046</small></td>
<td class="normal invariant"><span class='glyph'>G</span><br><small>0047</small></td>
<td class="normal invariant"><span class='glyph'>H</span><br><small>0048</small></td>
<td class="normal invariant"><span class='glyph'>I</span><br><small>0049</small></td>
<td class="normal"><span class='glyph'>­</span><br><small>00AD</small></td>
<td class="normal"><span class='glyph'>ô</span><br><small>00F4</small></td>
<td class="symbol"><span class='glyph'>~</span><br><small>007E</small></td>
<td class="normal"><span class='glyph'>ò</span><br><small>00F2</small></td>
<td class="normal"><span class='glyph'>ó</span><br><small>00F3</small></td>
<td class="normal"><span class='glyph'>õ</span><br><small>00F5</small></td>

</tr>
<tr class='row'>
<td class='th'>_D</td>
<td class="normal"><span class='glyph'>ğ</span><br><small>011F</small></td>
<td class="normal invariant"><span class='glyph'>J</span><br><small>004A</small></td>
<td class="normal invariant"><span class='glyph'>K</span><br><small>004B</small></td>
<td class="normal invariant"><span class='glyph'>L</span><br><small>004C</small></td>
<td class="normal invariant"><span class='glyph'>M</span><br><small>004D</small></td>
<td class="normal invariant"><span class='glyph'>N</span><br><small>004E</small></td>
<td class="normal invariant"><span class='glyph'>O</span><br><small>004F</small></td>
<td class="normal invariant"><span class='glyph'>P</span><br><small>0050</small></td>
<td class="normal invariant"><span class='glyph'>Q</span><br><small>0051</small></td>
<td class="normal invariant"><span class='glyph'>R</span><br><small>0052</small></td>
<td class="number"><span class='glyph'>¹</span><br><small>00B9</small></td>
<td class="normal"><span class='glyph'>û</span><br><small>00FB</small></td>
<td class="punctuation"><span class='glyph'>\</span><br><small>005C</small></td>
<td class="normal"><span class='glyph'>ù</span><br><small>00F9</small></td>
<td class="normal"><span class='glyph'>ú</span><br><small>00FA</small></td>
<td class="normal"><span class='glyph'>ÿ</span><br><small>00FF</small></td>

</tr>
<tr class='row'>
<td class='th'>_E</td>
<td class="normal"><span class='glyph'>ü</span><br><small>00FC</small></td>
<td class="symbol"><span class='glyph'>÷</span><br><small>00F7</small></td>
<td class="normal invariant"><span class='glyph'>S</span><br><small>0053</small></td>
<td class="normal invariant"><span class='glyph'>T</span><br><small>0054</small></td>
<td class="normal invariant"><span class='glyph'>U</span><br><small>0055</small></td>
<td class="normal invariant"><span class='glyph'>V</span><br><small>0056</small></td>
<td class="normal invariant"><span class='glyph'>W</span><br><small>0057</small></td>
<td class="normal invariant"><span class='glyph'>X</span><br><small>0058</small></td>
<td class="normal invariant"><span class='glyph'>Y</span><br><small>0059</small></td>
<td class="normal invariant"><span class='glyph'>Z</span><br><small>005A</small></td>
<td class="number"><span class='glyph'>²</span><br><small>00B2</small></td>
<td class="normal"><span class='glyph'>Ô</span><br><small>00D4</small></td>
<td class="punctuation"><span class='glyph'>#</span><br><small>0023</small></td>
<td class="normal"><span class='glyph'>Ò</span><br><small>00D2</small></td>
<td class="normal"><span class='glyph'>Ó</span><br><small>00D3</small></td>
<td class="normal"><span class='glyph'>Õ</span><br><small>00D5</small></td>

</tr>
<tr class='row'>
<td class='th'>_F</td>
<td class="number invariant"><span class='glyph'>0</span><br><small>0030</small></td>
<td class="number invariant"><span class='glyph'>1</span><br><small>0031</small></td>
<td class="number invariant"><span class='glyph'>2</span><br><small>0032</small></td>
<td class="number invariant"><span class='glyph'>3</span><br><small>0033</small></td>
<td class="number invariant"><span class='glyph'>4</span><br><small>0034</small></td>
<td class="number invariant"><span class='glyph'>5</span><br><small>0035</small></td>
<td class="number invariant"><span class='glyph'>6</span><br><small>0036</small></td>
<td class="number invariant"><span class='glyph'>7</span><br><small>0037</small></td>
<td class="number invariant"><span class='glyph'>8</span><br><small>0038</small></td>
<td class="number invariant"><span class='glyph'>9</span><br><small>0039</small></td>
<td class="number"><span class='glyph'>³</span><br><small>00B3</small></td>
<td class="normal"><span class='glyph'>Û</span><br><small>00DB</small></td>
<td class="punctuation invariant"><span class='glyph'>"</span><br><small>0022</small></td>
<td class="normal"><span class='glyph'>Ù</span><br><small>00D9</small></td>
<td class="normal"><span class='glyph'>Ú</span><br><small>00DA</small></td>
<td class="control-code"><span class='glyph'>APC</span><br><small>009F</small></td>

</tr>

<tr>
    <th class='th'></th>
    <th>_0</th><th>_1</th><th>_2</th><th>_3</th>
    <th>_4</th><th>_5</th><th>_6</th><th>_7</th>
    <th>_8</th><th>_9</th><th>_A</th><th>_B</th>
    <th>_C</th><th>_D</th><th>_E</th><th>_F</th>
</tr>


</table>

